@media (max-width: 767px) {
    .card {
      width: 100%;
      max-width: 100%;  
    }
  }
@media (min-width: 1200px) {
    .row > .col-lg-2 {
      width: 20%; 
    }
  }

@media (max-width: 767px) {
    app-cart {
      width: 100%; 
    }
  }
  
 
 @media (min-width: 992px) {
    app-cart {
      width: 100%; 
    }
  }